@font-face {
    font-family: "avenir";
    font-weight: 200;
    font-style: normal;
    src: url("~@/assets/fonts/avenir/avenir-light.woff") format("woff");
}

@font-face {
    font-family: "avenir";
    font-weight: 300;
    font-style: normal;
    src: url("~@/assets/fonts/avenir/avenir-book.woff") format("woff");
}

@font-face {
    font-family: "avenir";
    font-weight: 400;
    font-weight: normal;
    font-style: normal;
    src: url("~@/assets/fonts/avenir/avenir-roman.woff") format("woff");
}

@font-face {
    font-family: "avenir";
    font-weight: 500;
    font-style: normal;
    src: url("~@/assets/fonts/avenir/avenir-medium.woff") format("woff");
}
@font-face {
    font-family: "avenir";
    font-weight: 600;
    font-weight: bold;
    font-style: normal;
    src: url("~@/assets/fonts/avenir/avenir-heavy.woff") format("woff");
}