#slideshow__container {
  position: absolute;
  top: $borderWidth;
  right: $borderWidth;
  bottom: $borderWidth;
  left: $borderWidth;
  position: fixed;
}
#slideshow {
  @include abs100();
}
#slideshow__captions {
  position: absolute;
  bottom: 0;
  right: 0;
  opacity: 0.9;
  text-align: right;
  padding: 2rem;

  h2 {
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600;
  }
  h4 {
    font-size: 1rem;
    font-weight: 300;
  }
  li {
    text-shadow: 0 0 3px rgba(0, 0, 0, 0.7);
  }
}
#slideshow__controls {
  position: absolute;
  height: 80vh;
  bottom: 0;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  pointer-events: none;
  .control {
    width: 10%;
    height: 100%;
    background-color: red;
    z-index: 1000;
    pointer-events: all;
  }
}
