#slideshow {
  //@include abs100();
  position: absolute;
  top: $borderWidth;
  right: $borderWidth;
  bottom: $borderWidth;
  left: $borderWidth;
  position: fixed;
  #slideshow__captions {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    font-size: 0.8rem;
    opacity: 0.9;
    li {
      text-shadow: 0 0 3px rgba(0,0,0,0.7);
    }
  }
}