body, html {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: 'avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px;
  overflow: hidden;
  @include bp(medLap) {
   height: 100%;
  }
  @include bp(lrgLap) {
    font-size: 15px;
  }
  @include bp(hd) {
    font-size: 17px;
  }
}
#app {
  position: relative;
  width: 100%;
  height: 100%;
  display: block;
  margin: 0;
  padding: 0;
  color: $appLightGrey;
  line-height: 1.6;
  overflow-y: scroll;
  background-color: $appLightGrey;
  transition: background-color 2s ease;
  &.loading {
    background-color: $appDarkGrey;
  }
  li {
    list-style: none;
  }
}
