.quick-fade-enter-active, .quick-fade-leave-active {
  transition: opacity .2s;
}
.quick-fade-enter, .quick-fade-leave-to {
  opacity: 0;
}
.fade-out-leave-active {
  transition: opacity .2s;
}
.fade-out-leave-to {
  opacity: 0;
}
.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}

.pop-up-enter-active {
  transition: all .5s ease-out;
  transition-delay: 1s;
}
.pop-up-leave-active {
  transition: all .5s ease-out;
}
.pop-up-enter, .pop-up-leave-to {
  transform: translateY(60px);
  opacity: 0;
}

.slide-in-enter-active, .slide-in-leave-active {
  transition: transform 1.5s cubic-bezier(0.19, 1, 0.22, 1);
}
.slide-in-enter {
  transform: translateX(-100%);
}
.slide-in-leave-to {
  transform: translateX(100%);
}
.slide-up-enter-active, .slide-up-leave-active {
  transition: transform 0.6s cubic-bezier(0.19, 1, 0.22, 1);
}
.slide-up-enter {
  transform: translateY(-100%);
}
.slide-up-leave-to {
  transform: translateY(100%);
}
