$close_size: 30px;
$close_size_sml: 20px;

.app__ui {
  @include abs100();
  border: none;
  border: $borderWidth solid $appDarkGrey;
  transition: 1s all ease;
  background: none;
  background: rgba(0, 0, 0, 0.1);
  background: linear-gradient(0deg, rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 0.2) 100%);
  &.on {
    border: $borderWidth solid $appLightGrey;
  }
  &.about {
    background: rgba(0, 0, 0, 0.5);
  }
  header {
    position: fixed;
    width: 100vw;
    height: 40px;
    margin: 0;
    padding: 0 20px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    line-height: 1;
    pointer-events: none;
    background: none;
    @media (min-width: 768px) and (orientation: portrait) {
      height: 80px;
      padding: 0 40px;
    }
    @include bp(1024) {
      height: 12vh;
      padding: 0 80px;
    }
  }
  #header__logo__ani {
    width: 140px;
  }
  #left__bar {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 12%;
    background: $appLightGrey;
  }
  h1.studio_ima {
    font-weight: 200;
    font-size: 1.5rem;
    letter-spacing: 0;
    margin: 0;
    color: $appGrey;
    transition: color 1s ease;
    @include bp(1024) {
      font-size: 2rem;
    }
    span {
      font-weight: 600;
    }
  }
  &.on {
    h1.studio_ima {
      color: $appLightGrey;
    }
  }
  a.ui__link {
    color: $appLightGrey;
    font-size: 1.4rem;
    cursor: pointer;
    pointer-events: auto;
    text-decoration: none;
    @include bp(768) {
      font-size: 1.6rem;
    }
    &:hover {
      text-decoration: underline;
    }
  }
  a.about__link {
    margin: 0;
    margin-left: auto;
    margin-right: 10px;
    padding: 0;
    @include bp(768) {
      margin-right: 0px;
    }
  }
  .about__close {
    height: $close_size_sml;
    width: $close_size_sml;
    position: relative;
    box-sizing: border-box;
    line-height: $close_size_sml;
    display: block;
    margin-left: auto;
    margin-right: 10px;
    @include bp(768) {
      margin-right: 0px;
      height: $close_size;
      width: $close_size;
      line-height: $close_size;
    }

    &:before,
    &:after {
      $height: 2px;
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      height: $height;
      width: $close_size_sml;
      transform: translateY($close_size_sml/2) rotate(-45deg);
      display: block;
      background-color: $appLightGrey;
      transition: all 0.25s ease-out;
      @include bp(768) {
        width: $close_size;
        transform: translateY($close_size/2) rotate(-45deg);
      }
    }
    &:after {
      transform: translateY($close_size_sml/2) rotate(-135deg);
      @include bp(768) {
        transform: translateY($close_size/2) rotate(-135deg);
      }
    }

    &:hover {
      &:before {
        transform: translateY($close_size_sml/2) rotate(45deg);
        @include bp(768) {
          transform: translateY($close_size/2) rotate(45deg);
        }
      }
      &:after {
        transform: translateY($close_size_sml/2) rotate(-45deg);
        @include bp(768) {
          transform: translateY($close_size/2) rotate(-45deg);
        }
      }
    }
  }
}

#logo__container {
  @include abs100();
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.5s ease;
  &.fade {
    opacity: 0.05;
  }

  #logo__ani {
    width: 60vw;
    @include bp(768) {
      width: 40vw;
    }
    @include bp(1024) {
      width: 25vw;
    }
    @include bp(landscape) {
      width: 25vw;
    }
  }
}

#slideshow__controller {
  @include abs100();
  display: flex;
  .slideshow__skip {
    width: 50%;
    height: 100vh;
    background: none;
  }
}

@keyframes close_btn_before {
  from {
    transform: translateY(20px) rotate(-45deg) scaleX(0);
  }
  to {
    transform: translateY(20px) rotate(-45deg) scaleX(1);
  }
}
@keyframes close_btn_after {
  from {
    transform: translateY(20px) rotate(-135deg) scaleX(0);
  }
  to {
    transform: translateY(20px) rotate(-135deg) scaleX(1);
  }
}
